language: python
cache: pip
sudo: false
matrix:
  include:
    - python: 2.7
      env: TOXENV=py27 BOTO_CONFIG=/dev/null
    - python: 3.4
      env: TOXENV=py34 BOTO_CONFIG=/dev/null
    - python: 3.5
      env: TOXENV=py35 BOTO_CONFIG=/dev/null
    - python: 3.6
      env: TOXENV=py36 BOTO_CONFIG=/dev/null

services:
- redis-server
- mongodb

install: pip install tox coveralls

before_script:
- eval "$(gimme 1.10.3)"
- bash .travis/start_minio.sh
- psql -c 'create database simplekv_test;' -U postgres
- psql -c 'ALTER ROLE travis CONNECTION LIMIT -1;' -U postgres
- mysql -e 'create database simplekv_test;'
- mysql -e 'set global max_connections = 200;'
- '[ -z "$encrypted_dea9dfb12f4a_key" ] || openssl aes-256-cbc -K $encrypted_dea9dfb12f4a_key -iv $encrypted_dea9dfb12f4a_iv -in azure_credentials.ini.enc -out azure_credentials.ini -d'

script: tox

after_success:
- coveralls

deploy:
  provider: pypi
  user: "fxmc"
  password:
    secure: "bTmsf99BGyjIYj8NxMoWcKu2pdynHF0mUY6q3QgP7mnq430n0UONEJ/fdS9Q73mlouRzAjvdBESvwh9474g9RO778N3HTzn0XTLWpY50gRvblG8yD49x6g3+/IPPJ6ZifrViiiw7tbM4fZhQdPXd0t8vDrSZAVV6Z1v15NsWfkQ="
  distributions: sdist bdist_wheel
  on:
    tags: true
